<h1 id="tableLabel">Lead Information</h1>


<p *ngIf="!dataFetched">
  <em>Loading...</em>
</p>

<p *ngIf="dataFetched && leads.length ==0">
  <em> No leads to be displayed. Please refresh the page if leads already added.</em>
</p>

<p *ngIf="dataFetched && errorMessage !==''">
  <em> errorMessage.</em>
</p>

<table *ngIf="leads.length > 0" class="custom-table">
  <thead>
    <tr class="table-header">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Zip Code</th>
      <th>Has Granted Contact Permission</th>
    </tr>
  </thead>


  <tbody>
    <tr *ngFor="let lead of leads">
      <td>{{ lead.firstName }}</td>
      <td>{{ lead.lastName }}</td>
      <td>{{ lead.phoneNumber }}</td>
      <td>{{ lead.zipCode }}</td>
      <td>{{ lead.hasPermission ? 'Yes' : 'No' }}</td>
    </tr>
  </tbody>
</table>
